* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #012639;
}
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #060b21;
    z-index: -1;
}

#Logo {
    grid-column: 2/3;
    font-size: 2em;
    color: white;
    margin-top: 0.7rem;
    width: 90%;
}
h3{
    padding-top: 6px;
    text-align: center;
    border:1px;
    border-radius: 30px;
    background: #023a5b;
}
.hamburger {
    justify-self: end;
}
nav {
    display: grid;
    grid-template-columns:10% 1fr 1fr 10%;
    min-height: 10vh;
    color: #13376b;
}

section {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    background: #023a5b;
}
.hero {
    height: 100%;
    width: 100%;
    position: relative;
}

.hero::after {
    content: "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
}
.headline {
    position: absolute;
    top: 70%;
    left: 10%;
    font-size: 1.5em;
    transform: translate(-10%, -70%);
    color: white;
    z-index: 2;
    line-height: 2em;
}

h2 {
    font-size: 1.4em;
}
h2::after{
    content: "";
    background: white;
    width: 103%;
    height: 13%;
    position: absolute;
    left: -2%;
    top: 0;
    opacity: 0.1;
    border:1px solid;
    border-radius: 20px;
}
.btn {
    float: right;
    margin-top: -0.8em;
    margin-right: -16.6em;
    padding: 0.8em;
    border:1px solid;
    border-radius: 0.6em;
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.6em;
}

.form-control {
    padding: 0.6em;
    margin-left: 2em;
    width: 20rem;
    border:1px solid;
    border-radius: 20px;
}
.submit {
    margin-bottom: 0.1em;
    font-size: 0.8em;
    padding: 0.4em 0.8em;
    font-family: 'Fira Sans', sans-serif;
    border:1px solid ;
    border-radius: 0.6em;
}
.message{
    width: 30.8em;
    height: 7em;
    border:1px solid black;
    border-radius: 20px;
    padding:0 10;
}

.text {
    display: block;
}

a{
    color:rgb(88, 86, 196);
}