* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
 body {
    background-color: #c5c6c7;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
 }
 header {
    width: 100%;
    height: 100px;
    font-size: 20px;
 }
 article {
    background-color: #eddede;
    padding-left:20px;
    padding-right: 20px;
    width: 70%;
    margin:auto;
 }
 h1 {
    position: absolute;
    float: left;
    margin-left: 2%;
    color: white;
    text-align: center;
    margin-top: 15px;
    background-color: #42597c;
    border-radius: 35px;
    padding: 10px;
 }
 img {
    width:100%;
    margin-top: -100px;
 }
 span {
    color: black;
 }
 ul {
    width: auto;
    float: right;
    margin-top: 8px;
    font-weight: bold;
    margin: 20px;
 }
 li{
    display: inline-block;
    position: sticky;
    
 }
 .menu {
    padding: 20px;
    text-align: center;
    color: rgb(53, 53, 146);
    text-decoration: none;
    font-size: 23px;
 }
 a:hover {
    color: white;
    transition: 0.5s;
    background-color: #42597c;
    border-radius: 35px;
 }
 .drop {
    background-color: #42597c;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 35px;
    font-size: 24px;
    font-weight: bold;
 }
 .dropdown {
    position: relative;
    display: none;
    margin-left: 80%;
    margin-top: 18px;
    border-radius: 35px;
 }

 .content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    z-index: 1;
    margin-left: -80px;
 }

 .content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
 }

.content a:hover {background-color: #ddd;}

.dropdown:hover .content {display: block;}

.dropdown:hover .drop {background-color: #5665be;}

 .weather {
    width: 90%;
 }  

 .bttn {
    align-items: center;
    margin-top: -30%;
    width: 180px;
    height: 60px;
    background-color: #95cad1;
    border:2px solid #688f94;
    border-radius: 30px;
    font-size: 23px;
    font-weight: bold;
    font-family: microsoft;
 }
@media only screen and (max-width: 960px) {
 ul {
    display:none;
 }
 div.dropdown {
    display: inline-block;
    background-color: white;
 }
 li {
    display: block;
    background-color: white;
    border-radius: 15px;
    padding: 5px;
 }
 a {
    padding: 4;
 }
 h1 {
    margin-top: 18px;
    font-size: 23px;
    background-color: #42597c;
    border-radius: 35px;
    padding: 10px;
 }
 .weather {
    height: 40%;
 }
 .bttn {
    height: 40px;
    width: 150px;
}  
}