<div style="display: flex; margin: auto;">
    <img style="width: 30vw;
           margin-top: 5vh;
           filter: drop-shadow(0px 10px 7px black);
	        animation: drop 1.5s ease; " 
          src="https://i.ibb.co/KjrJ3g7/Picture2.png"/>
<ul>
    {% for post in postslist %}
        <li>
             <h5><strong>
                <a href="{{ post.url | url }}">{{post.data.title}}</a>
            </strong>
            - 
            <h>
                {{post.data.description}}
            </span></h5>
            <br/>
        </li>
    {% endfor %}
</ul>
</div>