<ul>
    {% for post in postslist %}
        <li>
             <h5><strong>
                <a href="{{ post.url | url }}">{{post.data.title}}</a>
            </strong>
            - 
            <h>
                {{post.data.description}}
            </span></h5>
            <br/>
        </li>
    {% endfor %}
</ul>