<ul>
    <h1 style="text-align: center;"><u>Posts</u></h1>
    {% for post in projectslist %}
        <li>
            <h3><strong>
                <a href="{{ post.url | url }}">{{post.data.title}}</a>
            </strong>
            - 
            <h>
                {{post.data.description}}
            </span></h3>
            <br/>
        </li>
    {% endfor %}
</ul>