--- 
layout: layouts/postbase.njk
---
<h3 style="text-align:center;"> {{ title }} </h3>

<!-- <img src="{{ featuredImage | url }}"
    alt="{{ featuredImage }}"></img> -->
<p style=" margin: 0 20%"> {{ content | safe}} </p>