<html>
    <head>
         <title>11ty Blog -A</title>
         <style>
         body {
           width: 400px;
           margin: 0 auto;
         }
         </style>
    </head>
    <body>
      <header>
         <a href="/">Home</a> | <a href="/posts/my-first-post">About this page</a>
      </header>
      <h1>
         11ty Blog -A
      </h1>
    
    <ul>
      {% for article in news.articles %}
      <li>
      <h2><a href="{{ article.url }}"></a>{{ article.title }}</a></h2>
      <span>{{ article.source.name }} - <time>{{ article.publishedAt }}</time></span>
      </li>
      {% endfor %}
    </ul>


      {{ content|safe}}
     <script src="design.js"></script>
    </body>
</html>