<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title> 11ty Blog </title>
      <link rel="stylesheet" href="css/index.css">
    </head>
    <body>
      <header>
         <nav>
            <h1>ANA MARIA <span>||</span> HORHOIANU</h1>
              <ul>
                <li><a class="menu" href="#">Home</a></li>
                <li><a class="menu" href="#">About</a></li>
                <li><a class="menu" href="https://ana-h-blog.netlify.app/posts/">Posts</a></li>
                <li><a class="menu" href="#">Feedback</a></li>
              </ul>
         </nav>
           <div class="dropdown">
               <button class="drop">MENU</button>
              <nav class="content">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Posts</a>
                <a href="#">Feedback</a>
              </nav>
           </div>
      </header>   
      <main>
           <!--   {{ content|safe }}  -->
         <img src="images/uploads/img1.jpg">
         
         <button class="bttn"type="button" href="#">Projects</button>
              
         <br/>
         <br/>

      <a class="weatherwidget-io" href="https://forecast7.com/en/53d65n1d79/huddersfield/" 
          data-label_1="HUDDERSFIELD" 
          data-label_2="WEATHER" 
          data-font="Palatino" 
          data-icons="Climacons Animated" 
          data-theme="mountains" 
          data-textcolor="#000" 
          data-lowcolor="#000" >HUDDERSFIELD WEATHER</a>

        <script>
                  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];
                        if(!d.getElementById(id)){
                        js=d.createElement(s);
                        js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';
                  fjs.parentNode.insertBefore(js,fjs);
                     }}

                  (document,'script','weatherwidget-io-js');
        </script>

        <h2><u>News</u></h2>
        <br/>
        <article>
            
            {% for article in news.articles %}
            <h2><a href="{{ article.url }}"></a>{{ article.title }}</a></h2>
            
            <span>{{ article.source.name }} - <time>{{ article.publishedAt }}</time></span>
            <br/>
            {% endfor %}
       </article>

         <br/>

      </main>
    </body>
</html>