<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,500&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="css/feedback.css">
      <title> Feedback </title>
    </head>
    <body>
        <header>
            <nav>
                <h3 id="logo">ANA MARIA || HORHOIANU</h3>
            </nav>
            <section>
                <div class="hero">
                    <img src="abstract.jpg" alt="planet">
                    <div class="headline">
                    <a href="https://ana-h-blog.netlify.app/"><button class="btn">&larr; Back</button></a>
                    <h2> Thank you for taking the time to provide your feedback.</h2>

                    <form name="feedback" method="POST" data-netlify="true">
                    <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" class="form-control" placeholder="Enter your name" required />
                    </div>
                    <div class="form-group">
                    <label id="email-label" for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Enter your email" required/>
                    </div>
                    <div class="form-group1">
                    <label class="text" for="message">Message</label>
                    <textarea class="message" name="comment" for="message" id="message"></textarea>
                    </div>
                    <input type="checkbox" id="tandc" name="tandc" value="TandC">
                    <label for="tandc" required> I agree to the <a href="#" >Terms and Conditions</a></label><br>
                
                    <div>
                    <button class="submit" type="submit">Send</button>
                    </div>
                  </form>
                </div>
                </div>
            </section>
        </header>
        <main>
            <div class="slider"></div>
        </main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" 
        integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" 
        integrity="sha512-0xrMWUXzEAc+VY7k48pWd5YT6ig03p4KARKxs4Bqxb9atrcn2fV41fWs+YXTKb8lD2sbPAmZMjKENiyzM/Gagw==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="js/feedback.js"></script>
    </body>
</html>
