--- 
layout: layouts/primebase.njk
---
<h3 style="text-align:center;"> {{ title }} </h3>

<!-- <img src="{{ featuredImage | url }}"
    alt="{{ featuredImage }}"></img> -->
<p> {{ content | safe}} </p>